<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PostIt</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav class="header navbar-inverse">

                <ul class="dav davbar-dav">
                    <li><a href="/">Home</a></li>
                    <%- defineContent('links')%>
                </ul> 
            </nav>
        </header>
        <%- defineContent('hero') %>

        <main>
            <div class="container">
                <%- body %>
            </div>
        </main>
        <script src="/js/app.js" ></script>
    </body>
</html>
