<div class="jumbotron text-center">
    <h1>Create Group</h1>
    <div class="row" id="signin">
        <div class="col-sm-6 col-sm-offset-3" id="signin">
            <form action="/group" method="POST">
                <div class="form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Group Name">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-default">Create Group</button>
                </div>
            </form>
        </div>
    </div>
