
        
<%- contentFor('hero') %>
        <section class="hero">
            <div class="hero-content">
                <h2>Welcome to PostIT</h2>
                <p>Create groups to your satisfaction.</p>

                <a href="/signin" class="btn btn-lg btn-primary">Sign in</a>
                <a href="/signup" class="btn btn-lg btn-primary">Sign up</a>
            </div>
        </section>
