<div class="groups">
	<%	user.groups.map(function(group, i) { %>
		<h3><a href="group/<%=group.groupId%>"><%= group.name %></a></h3>
	<% }) %>
</div>

<div class="van"><a href="/group">Create Group</a></div>


<%- contentFor('links') %>
		<li id="child"><a href="/logout">Logout</a></li>
		<li class="right"><a href="/logout"><%= user.username.toUpperCase() %></a></li>


